<h2>Contact</h2>


<div id="contactContainer">
    <div id="contact">
        @Html.Partial("_Contact")
    </div>
    
    <div id="googleMap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2225.852666219539!2d13.735911199999999!3d56.0904661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653fc42d08cd8c5%3A0xfffcaaed3a132cbc!2sN%C3%B6sdala+6030%2C+281+92+H%C3%A4ssleholm!5e0!3m2!1ssv!2sse!4v1432725690555" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>