
@{
    ViewBag.Title = "Sent";
}

<h2>Message Sent</h2>

<p>You will be redirected to the home page in 3 seconds</p>
<script>
    var delay = 3000;
    var URL = "/Home/Index";
    setTimeout(function () { window.location = URL; }, delay);
</script>

