@model IEnumerable<SkeletorDAL.Model.SlideShowImgModel>

<body>
    <div class="GalleryWrapper">


        @foreach (var image in Model)
        {



            <div class="GalleryAlineImg">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@image.ID" style="margin-bottom: 5px;">
                    <img src="@Url.Content(image.ImagePath)" style="margin: -12px; height: 200px; width: 200px;" alt="Image" />
                </button>

                @if (User.Identity.IsAuthenticated && int.Parse(User.Identity.Name) < 2)
                {<p>
                    @Html.ActionLink("Delete image", "DeleteImage", "EditSlideShowImages", new { id = image.ID, path = image.ImagePath }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })
                </p>
                }

                <div id="@image.ID" class="modal fade" tabindex="-1">
                    <div id="lightbox" class="modal-dialog">
                        <div class="modal-content; col-md-12; span9 centred" style="max-width: 3000px">
                            <img src="@Url.Content(image.ImagePath)" class="img-responsive; img-responsive center-block" />
                        </div>
                    </div>
                </div>
            </div>



        }



    </div>
</body>