@using System.Collections.Specialized
@using SkeletorHorseProject.Controllers


<div id="carosel"></div>

<div class="carousel">
     Här är en karusell!
</div>



<div id="puffContainer" class="col-md-12">
    <div class="row">
        <div class="puff">
            <p>Bacon ipsum dolor amet pork chop bresaola turkey kielbasa biltong t-bone doner strip steak alcatra ham hock turducken beef. Cupim tri-tip ball tip short loin short ribs ham hock frankfurter venison tongue filet mignon strip steak landjaeger pancetta. Turducken alcatra pork chop pork belly kielbasa. Pork belly turkey venison ham shoulder. Tenderloin bacon beef kevin boudin chuck. Bresaola pancetta sirloin, landjaeger cow salami fatback short loin jerky kevin andouille ground round swine pork chop. Frankfurter flank shoulder pork belly cow tri-tip chuck.</p>
        </div>
        <div class="puff">
            <p>Filet mignon shoulder chicken ground round prosciutto chuck ball tip spare ribs alcatra tri-tip jerky pork belly. Short ribs ball tip shankle rump hamburger pastrami. Tenderloin ground round picanha ribeye, tail pork belly sausage. Ball tip beef porchetta cow salami tri-tip filet mignon prosciutto pork boudin leberkas sirloin flank. Rump chuck beef ribs boudin tail. Beef ball tip pork loin shank, boudin beef ribs cupim. Beef pork belly fatback, ball tip shankle short ribs ham hock beef ribs venison meatball.</p>
        </div>
        <div class="puff">
            <p>Meatball flank t-bone, drumstick bresaola bacon salami prosciutto biltong corned beef. Jerky tongue strip steak filet mignon leberkas cow doner bacon beef ribs prosciutto tail. Frankfurter shoulder beef ribs pork belly. Andouille swine corned beef turkey, pork loin t-bone capicola chuck cupim ham hock tri-tip pork.</p>
        </div>
    </div>
</div>

<div id="horseContainer" class="col-md-12">
    <div class="row">
        <div class="horseIMG">
            <img src="/Images/Dummy1.jpg">
        </div>
        <div class="horseIMG">
            <img src="/Images/Dummy2.jpg">
        </div>
        <div class="horseIMG">
            <img src="/Images/Dummy3.jpg">
        </div>
        <div class="horseIMG">
            <img src="/Images/e.jpg">
        </div>
        <div class="horseIMG">
            <img src="/Images/ladda ned.jpg" style="margin: -12px; height: 100px; width: 100px;" alt="Image">
        </div>
        ">
    </div>
</div>

