
@model List<SkeletorDAL.Model.HorseModel>


<div class="row">

    @foreach (var x in @Model)
    {
        <div class="horsePuff">
        <a href="@Url.Content("~/HorseProfile/Index/" + x.ID)"> <img class="horsepuffImg" src="@Url.Content(x.ImagePath)" style="height: 150px; width: 150px;"/></a>
 </div>

    }


</div>

