
@using System.Web.UI.WebControls
@model List<SkeletorDAL.Model.HorseModel>



<div class="row">

    @for (int i = 0; i < 5; i++)
    {
        <div id="puffHorseContainer">
            <a class="horsePuff" href="@Url.Content("~/HorseProfile/Index/" + Model[i].ID)"> <img src="@Url.Content(Model[i].ImagePath)" style="height: 150px; width: 150px" /></a>
        </div>
    }
    

</div>

