@model int


@using (Html.BeginForm("UploadGalleryImage", "HorseProfile", new { id = Model }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{ @Html.AntiForgeryToken()
    <fieldset>
        <legend>Upload an image</legend>
        <p>Only .jpg .jpeg . png and .gif allowed, image will be resized to 200px wide and 250px high</p>
        <div class="editor-field"> @Html.TextBox("file", "", new { type = "file", @class = "btn-btn-default" }) </div>
        <br />   <div class="editor-field"> <input type="submit" value="Upload" class="btn-btn-default" /> </div>
    </fieldset> }
