@model int

@{
    Layout = null;
}

<div class="btn-btn-default">
    <input type="button" value="Upload new image" onclick="location.href = '@Url.Action("UploadGalleryImage", "HorseProfile", new{id = Model})'" />
</div>