body {
    padding-bottom: 10px;
}

.breadcrumb {
    height: 30px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#lightbox {
    min-width: 30px;
}

.wrapper {
    max-width: 1024px;
    height: auto;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 10px 5px #C4C4C4;
    box-shadow: 0 0 10px 5px #C4C4C4;
}

.loggoButton {
    margin-top: -16px;
}

.navigation {
    height: 100px;
    background-color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-top: 30px;
}

    .navigation a {
        color: #000000;
    }

        .navigation a:hover {
            color: #D1081D;
            background-color: transparent;
            text-decoration: none;
        }

        .navigation a:active {
            color: #000066;
            background-color: transparent;
            text-decoration: none;
        }

.nav {
    color: #D1081D;
    text-decoration: none;
    background-color: transparent;
}

.navbar-nav {
    color: #D1081D;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
}

.navbar-right {
    padding-right: 10px;
}

a:hover {
    color: #D1081D;
    text-decoration: none;
    background-color: transparent;
}

.content {
    background-color: #ffffff;
    font-family: Arial;
    min-height: 1000px;
    margin-top: 20px;
    margin-bottom: -10px;
    padding: 0 50px 50px 50px;
    background-image: url('../Images/splash.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80%;
    background-size: 40%;
}

.footer {
    background-color: #2c2c2c;
    min-height: 300px;
    -webkit-box-shadow: inset 0 0 100px 1px #000000;
    box-shadow: inset 0 0 100px 1px #000000;
    padding-top: 50px;
    padding-left: 50px;
}

    .footer ul {
        list-style: none;
        line-height: 125%;
    }

    .footer a {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
    }

        .footer a:hover {
            list-style: none;
            color: #D1081D;
            background-color: transparent;
            text-decoration: none;
        }

#puffContainer {
    max-width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.puff {
    width: 300px;
    float: left;
    padding: 30px;
}

#puffHorseContainer {
    max-width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-left: 25px;
}

.horsePuff {
    width: 150px;
    float: left;
    margin-left: auto;
    margin: auto;
}

    .horsePuff a:hover {
        height: 150px;
        width: 150px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        transition-property: box-shadow;
    }

    .horsePuff:hover, .horsePuff:focus, .horsePuff:active {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }

.slider-container {
    height: 310px;
    margin-top: -20px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

#contact {
    width: 300px;
    float: left;
    padding: 30px;
}

#googleMap {
    width: 300px;
    float: left;
    padding: 30px;
}

.slider-item {
    width: auto;
    height: 290px;
}

    .slider-item .panel-footer {
        height: 55px;
        line-height: 33px;
    }

.hiddenoo {
    display: none;
}

.GalleryWrapper {
    width: 1024px;
    display: block;
}

.GalleryAlineImg {
    width: auto;
    padding-left: 20px;
    display: block;
    float: left;
}

#postarea textarea {
    width: 100%;
    height: 100px;
}

.breadcrumbs {
    height: 35px;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
}

    .breadcrumbs a {
        color: #000000;
    }

        .breadcrumbs a:hover {
            color: #0000ff;
            text-decoration: none;
        }
