@model SkeletorDAL.Model.SearchModel
@using MvcSiteMapProvider.Reflection

@using(Html.BeginForm("Search","FilteredHorsePage"))
{
@Html.AntiForgeryToken();
<div id="SearchBox">
    @Html.TextBox("SearchText")
    <input type="submit" value="Search">
</div>
}