@model  List<SkeletorDAL.Model.FooterModel>
@{
    ViewBag.Title = "Footer";
}

@if (User.Identity.IsAuthenticated)
{<p>
        @Html.ActionLink("Edit Links", "EditLinks", "Footer")
    </p>
}

@foreach (var link in Model)
{
    <ul>
        <li><a href="@link.Url">@link.Name</a></li>
    </ul>
}

